@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&display=swap");

:root {
  --mainfont: "Barlow", sans-serif;
}
.about-product {
  width: 100%;
  background-color: #e6e6e6;
  background-size: cover;
  background-position: center;
  padding: 5rem 0;
}
.--about-container {
  position: relative;
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 1.3rem;
}
.--about-wrapper {
  position: relative;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.divider {
  width: 3px;
  height: clamp(50px, 11.3846vw, 120px);
  background-color: #000;
}
.--main-aboutcontent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}
.--aboutimg-container {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border: 3px solid #f15025;
  border-radius: 10px;
  box-shadow: #f151254d 0px 2px 4px 0px, #f151254d 0px 2px 16px 0px;
}
.--aboutimg-container img {
  display: block;
  width: 100%;
  max-width: 487px;
  height: auto;
  padding: 13px;
  border-radius: 10px;
}
.--aboutmeinfo {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  max-width: 544px;
}

.--aboutmeinfo h1 {
  color: #000;
  font-size: 2.1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  font-family: var(--mainfont);
  margin: 1rem 0 0.5rem 0;
}
.--aboutmeinfo p {
  color: #000;
  font-family: var(--mainfont);
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 1.5rem 0;
}
.--aboutmeinfo a {
  color: #fff;
  text-align: center;
  font-family: var(--mainfont);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 10px;
  background: #f15025;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  padding: 15px 20px;
}
@media (max-width: 1025px) {
  .--main-aboutcontent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .--main-aboutcontent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .--aboutimg-container img {
    max-width: 300px;
  }
  .--aboutmeinfo h1{
    font-size: 1.5rem;
  }
  .--aboutmeinfo p{
    font-size: 1.3rem;
  }
}


.--product-container {
  position: relative;
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 1.3rem;
  margin-top: 5rem;
}
.--product-wrapper {
  position: relative;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.--main-productcontent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.--product-header {
  font-family: var(--mainfont);
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
}
.--products {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.7rem;
}
.--product-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 256px;
  height: 399px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: all 0.3s ease-in-out;
}

.--product-card h1 {
  font-size: 2rem;
  font-family: var(--mainfont);
  font-weight: 500;
  text-transform: uppercase;
  margin: 2rem 0 0 0;
}
.--product-card span {
  font-size: 2.2rem;
  font-family: var(--mainfont);
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 1rem 0;
  transform: translate(0, -10%);
  transition: 0.3s ease-in-out;
}
.--product-card p {
  font-family: var(--mainfont);
  max-width: 186px;
}
.--product-card ion-icon {
  font-size: 0.8rem;
  text-align: center;
  color: #f15025;
  margin-right: 3px;
}

.--product-card a {
  color: #fff;
  text-align: center;
  font-family: var(--mainfont);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 10px;
  background: #f15025;
  text-decoration: none;
  padding: 15px 20px;
  margin-top: 1.5rem;
}
.--product-card:hover {
  background-color: #f15025;
  color: #fff;
}
.--product-card:hover ion-icon {
  color: #fff;
}
.--product-card:hover span {
  transform: scale(1.5);
  color: #fff;
}
.--product-card:hover a {
  background-color: #fff;
  color: #f15025;
}
@media (max-width: 1025px) {
.--product-header{
    font-size: .7rem;
  }
.--products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .--product-card{
    display: flex;
    gap: .5rem;
    width: 400px;
    height: 300px;
  }
  .--product-card h1 {
    font-size: 1.3rem;
  }

  .--product-card span {
    font-size: 1.3rem;
  }
  .--product-card p{
    font-size: 12px;
  }

  .--product-card a {
    font-size: 12px;
  }
}
@media (max-width: 426px) {
  .--product-card{
    display: flex;
    gap: .5rem;
    width: 250px;
    height: 300px;
  }
}