.--flex-wrapper {
  position: relative;
  margin: 0 auto;
  min-height: 215px;
  background-color: #1e1e1e;
  /* padding: 26.5% 0 15%; */
}

.--flex-container {
  position: absolute;
  top: -40%;
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.--flex-image {
  width: 100%;
  height: auto;
  min-width: 1440px;
}

.--flex-dumbell-wrapper {
  position: absolute;
  top: 15%;
  right: calc(50% - 50px);
  border-radius: 100%;
  width: 93px;
  height: 93px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(238, 238, 238, 0.1);
}

.--flex-dumbell-container {
  border-radius: 100%;
  width: 76px;
  height: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;
}

.--flex-dumbell-container img {
  width: 35px;
  height: 35px;
}

.--follow-container {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
}

.--follow-image {
  width: 100%;
  max-width: 1120px;
  z-index: 100;
}

.--follow-social {
  position: absolute;
  bottom: 3%;
  width: 100%;
  max-width: 790px;
  display: flex;
  justify-content: space-between;
  z-index: 101;
}

.--follow-social img {
  width: 130px;
  cursor: pointer;
}

.--follow-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

@media screen and (min-width: 767px) {
  .--flex-wrapper {
    min-height: 246px;
    padding: 16% 0 10%;
  }
  .--flex-container {
    top: -16%;
  }
  .--follow-container {
    display: flex;
  }
}

@media screen and (min-width: 992px) {
  .--flex-wrapper {
    padding: 12% 0 10%;
  }
}

@media screen and (min-width: 1200px) {
  .--flex-wrapper {
    padding: 10% 0 10%;
  }
}

@media screen and (min-width: 1600px) {
  .--follow-image {
    max-width: 1440px;
  }
  .--follow-line {
    top: calc(-30% - 30px);
  }
}

@media screen and (min-width: 2000px) {
  .--flex-dumbell-wrapper {
    width: 123px;
    height: 123px;
    top: 22%;
    right: calc(49.5% - 49.5px);
  }
  .--flex-dumbell-container {
    width: 106px;
    height: 106px;
  }
}
