.--header-wrapper {
  position: fixed;

  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}
.--header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  max-width: 1200px;
  margin-inline: auto;
  padding: 1rem 1.3rem;
}
.--logo-header {
  z-index: 1000;
}
.--logo-header span {
  font-size: clamp(1.125rem, 0.8312rem + 1.4691vw, 2.30025rem);
  font-family: var(--titlefont);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.--logo-header span:nth-child(1) {
  color: var(--orangemain);
}
.--logo-header span:nth-child(2) {
  color: var(--whitemain);
}
.menutoogler {
  cursor: pointer;
  z-index: 1000;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 30px;
}

.hamburger-line {
  display: block;
  height: 3px;
  width: 30px;
  background-color: var(--whitemain);
  border-radius: 2px;
}

/* Styling the hamburger icon */
.hamburger-line:nth-child(2) {
  margin-top: 4px;
  margin-bottom: 4px;
}

.hamburger .hamburger-line {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.hamburger.open .hamburger-line:nth-child(1) {
  background-color: var(--blackmain);
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open .hamburger-line:nth-child(2) {
  opacity: 0;
}

.hamburger.open .hamburger-line:nth-child(3) {
  background-color: var(--blackmain);
  transform: rotate(-45deg) translate(4px, -4px);
}
.--web-menu {
  display: none;
}
.--web-menu a {
  position: relative;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--greymain);
}
.--web-menu a.active::before {
  position: absolute;
  content: "";
  bottom: -2px;
  width: 50%;
  height: 2px;
  background-color: var(--orangemain);
  transition: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.--mobile-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-image: url("../images/mobile-bg.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto;
  transition: 0.4s ease-in-out;
  transform: translateX(100%);
  background-color: #010101;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(233, 43, 43, 0.3);
  mix-blend-mode: overlay;
}

.--mobile-wrapper.active {
  transform: translateX(0);
  opacity: 1;
}
.--mobile-container {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-inline: auto;
  gap: 1.5rem;
  height: 100%;
  padding: 10rem 1.3rem;
}

.--mobile-container a {
  position: relative;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #fff;
}
.--mobile-container a::before {
  position: absolute;

  content: "";
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: var(--orangemain);
  transition: width 0.3s ease-in-out, transform 0.3s ease-in-out;
  left: 50%;
  transform: translate(-50%, -50%);
}
.--mobile-container a:hover::before {
  width: 50%;
}
.ctajoin {
  font-size: 18px !important;
  font-weight: 500 !important;
  padding: 0.5rem 1.2rem;
  border-radius: 10px;
  background-color: var(--orangemain);
  color: #fff;
  border: none;
}

@media only screen and (min-width: 769px) {
  .--web-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 31px;
  }
  .menutoogler,
  .--mobile-wrapper {
    display: none;
  }
}
@media only screen and (min-width: 500px) and (max-width: 768px) {
  .--header-container {
    padding: 1rem 2.5rem;
  }
}
